defaults:
  led_strip_id: led_strip

globals:
  - id: saved_is_on
    type: bool
    restore_value: yes
    initial_value: "false"

  - id: saved_brightness
    type: float
    restore_value: yes
    initial_value: "0.5"

esphome:
  on_boot:
    - priority: -100
      then:
        - script.execute: restore_state

output:
  - platform: esp8266_pwm
    id: led_strip_output
    pin:
      number: GPIO2
      inverted: true
    frequency: 1000Hz
    zero_means_zero: true

light:
  - platform: monochromatic
    output: led_strip_output
    id: $led_strip_id
    name: LED Strip
    icon: mdi:led-strip-variant
    restore_mode: ALWAYS_OFF
    gamma_correct: 1.8
    default_transition_length: 0.75s
    effects:
      - flicker:
      - pulse:
      - pulse:
          name: "Fast Pulse"
          transition_length: 0.5s
          update_interval: 0.5s
          min_brightness: 0%
          max_brightness: 100%
      - pulse:
          name: "Slow Pulse"
          update_interval: 2s
      - pulse:
          name: "Faded Glow Pulse"
          transition_length:
            on_length: 1s
            off_length: 2s
          update_interval: 4s
          min_brightness: 20%
          max_brightness: 40%

button:
  - platform: template
    name: "Save State"
    icon: mdi:content-save-move
    entity_category: config
    on_press:
      - lambda: |-
          id(saved_is_on) = id($led_strip_id).current_values.is_on();
          id(saved_brightness) = id($led_strip_id).current_values.get_brightness();
      - script.execute: indicate_save
      - script.execute: sync_preferences

  - platform: template
    name: "Restore State"
    icon: mdi:restore
    entity_category: config
    on_press:
      - script.execute: restore_state

script:
  - id: restore_state
    then:
      - light.control:
          id: $led_strip_id
          brightness: !lambda "return id(saved_brightness);"
          state: !lambda "return id(saved_is_on) == true;"

  - id: indicate_save
    mode: restart
    then:
      - if:
          condition:
            light.is_on: $led_strip_id
          then:
            - light.turn_on: $led_strip_id
            - delay: 0.75s
            - light.turn_off: $led_strip_id
            - delay: 0.75s
            - light.turn_on: $led_strip_id
          else:
            - light.turn_off: $led_strip_id
            - delay: 0.75s
            - light.turn_on:
                id: led_strip
                brightness: 0.1
            - delay: 0.75s
            - light.control:
                id: led_strip
                brightness: !lambda "return id(saved_brightness);"
                state: false
