---
defaults:
  led_builtin_id: led_builtin

output:
  - platform: gpio
    id: led_builtin_output
    pin:
      number: GPIO1
      inverted: true

light:
  - platform: binary
    id: $led_builtin_id
    output: led_builtin_output
    restore_mode: ALWAYS_OFF
    effects:
      - strobe:
          name: blink
          colors:
            - state: true
              brightness: 50%
              duration: 150ms
            - state: false
              duration: 150ms
